* {
  margin: 0;
  padding: 0;
  }

.container {
  height: 100%;
  width: calc(100% - 8rem);
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
}

header {
  height: 3rem;
  background-color: #f0f0f0;
}

header nav {
  background-color: #76f4ff;
  height: 100%;
  margin: 0 4rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  list-style: none;
  align-items: center;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}

.card {
  border: 1px solid black;
  padding: 1rem;
}

.card > div {
  justify-content: center;
}

.card-head {
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
}
.card-img {
  width: 100%;
  height: auto;  
  border: 1px solid black;
}

.card-body {
  padding: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
}

.form-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 1rem;
}

.registration-form {
  border: 2px solid black;
}

.registration-form > h1 {
  text-align: center;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem;
  width: 100%;
  border-top: 1px dashed rgb(194, 194, 194);
  padding: 0.5rem;
}

.form-control > button {
  display: block;
  margin: 0.5rem auto;
  width: 4rem;
  font-size: 1rem;
  background-color: #bfc0c0;;
}

.form-control > button:hover {
  background-color: #76f4ff;
}

footer {
  background-color: #f0f0f0;
}

footer > div {
  background-color: #d9d9d9;
  height: 100%;
  margin: 0 4rem;
}

footer > div > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

footer > div > p {
  text-align: center;
  padding: 3px;
}


@media screen and (max-width: 1400px) {
    header {
    height: 5rem;
  }
  header nav {
    height: 100%;
    margin: 0;
  }
  nav > ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    list-style: none;
    align-items: center;
    padding: 0 1rem;
  }
  .card > div.flex {
    flex-direction: column;
  }
  .card-img {
    width: auto;
    height: 20rem;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
    .card > div.flex {
    flex-direction: row;
  }
  .card-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 758px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .card > div.flex {
    flex-direction: column;
  }
  .card-img {
    width: auto;
    height: 20rem;
  }
}